<header style="background-color: #053aacd3">
  <nav
    class="navbar mx-auto flex max-w-9xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="mr-5">
      <a class="title" href="/">
        <img
          style="max-width: 125px; border-radius: 30%"
          src="../../images/logo.jpg"
          alt="tech blog logo"
        /></a>
    </div>

    <div class="grid grid-cols-2 gap-4 place-content-centerflex flex-1">
      <div class="hidden lg:flex lg:gap-x-12">
        <a
          class="link text-md font-semibold leading-6 text-slate-100 hover:text-slate-200"
          href="/"
        >Home</a>

        <a
          class="link text-md font-semibold leading-6 text-slate-100 hover:text-slate-200"
          href="/dashboard"
        >Dashboard</a>
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>

    </div>

    <div class="flex flex-1 justify-end">
      {{#if logged_in}}
        <a
          class="link text-md font-semibold leading-6 text-slate-100 hover:text-slate-200"
          href="/"
          id="logout"
        >Logout</a>
      {{else}}
        <a
          class="link text-md font-semibold leading-6 text-slate-100 hover:text-slate-200"
          href="/login"
        >Login <span aria-hidden="true">&rarr;</span></a>
      {{/if}}
    </div>

  </nav>
</header>