<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Create New Post</h2>

    <form class="card-body new-post-form" id="new-post-form">

      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <div class="form-row">
            <label for="post-title" class="form-label">Title</label>
            <input
              type="text"
              id="post-title"
              name="post-title"
              class="form-input form-control"
            />
          </div>
          <div class="form-row">
            <label class="form-label" for="content">Content</label>
            <input
              id="content"
              name="content"
              class="form-input form-control"
            />
          </div>
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >CREATE</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<script src="/js/new-post.js"></script>